<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'>
    <link rel='scripts' href='/javascripts/bootstrap.bundle.js'>
    <link rel='scripts' href='/javascripts/bootstrap.js'>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
